@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Olá esse é o lembree! Feito para você se lembrar de suas tarefas</h1>
    <a role="button" class="btn btn-success" asp-controller="Contato" asp-action="Criar">Criar minha primeira tarefa</a>
</div>
